@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;200;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$shadow-color: #D3D3D3;
$text-exploration-section-text-color: #383838;


@mixin btn-purple-style {
  background: linear-gradient($secondary-color, $primary-color);
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 5px $shadow-color;
}

body {
  font-family: 'Roboto';
  h1, h2, h3, h4, h5, h6 {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
  }
}