@import '_normalizer.scss';
@import '_theme.scss';

p,h1,h2,h3,h4,h5,h6 {
  line-height: 30px;
}

p, input {
  font-family: 'Roboto';
}

p {
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'roboto';
  font-size: 25px;
  font-weight: bold;
}

.btn_theme {
  background: linear-gradient($secondary-color, $primary-color);
  color: white;
  padding: 13px 20px;
  border-radius: 30px;
  border: none;
}

header {
  height: 60px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  img {
    width: auto;
  }
}

#exploration_section {
  text-align: center;
  div:first-child {
    background-color: #EAEAEA;
    height: 50px;
    line-height: 50px;
    i {
      padding: 10px;
    }
    input {
      border: none;
      background-color: #EAEAEA;
      width: 180px;
    }
  }
  div:nth-child(2) {
    background-color: #F6F6F6;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    p {
      line-height: 20px;
      margin: 10px 0 20px 0;
    }
  }
}

#functioning_section {
  background-color: yellow;

}

#menus_section {
  background-color: green;

}

footer {
  background-color: orange;

}