/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 30px;
}

p, input {
  font-family: "Roboto";
}

p {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "roboto";
  font-size: 25px;
  font-weight: bold;
}

.btn_theme {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 13px 20px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 5px #D3D3D3;
}

header {
  height: 60px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}
header img {
  width: auto;
}

#exploration_section {
  text-align: center;
}
#exploration_section div:first-child {
  background-color: #EAEAEA;
  height: 50px;
  line-height: 50px;
}
#exploration_section div:first-child i {
  padding: 10px;
}
#exploration_section div:first-child input {
  border: none;
  background-color: #EAEAEA;
  width: 180px;
}
#exploration_section div:nth-child(2) {
  background-color: #F6F6F6;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}
#exploration_section div:nth-child(2) p {
  line-height: 20px;
  margin: 10px 0 20px 0;
}

#functioning_section {
  padding: 50px 20px;
}
#functioning_section li:nth-child(1) {
  background-color: #F6F6F6;
  height: 75px;
  width: 330px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 20px;
  box-shadow: 0px 2px 10px #D3D3D3;
}
#functioning_section li:nth-child(1) i {
  position: absolute;
  left: 70px;
  color: gray;
}
#functioning_section li:nth-child(1):before {
  content: "1";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 12.5px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 25px;
}
#functioning_section li:nth-child(2) {
  background-color: #F6F6F6;
  height: 75px;
  width: 330px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 20px;
  box-shadow: 0px 2px 10px #D3D3D3;
}
#functioning_section li:nth-child(2) i {
  position: absolute;
  left: 70px;
  color: gray;
}
#functioning_section li:nth-child(2):before {
  content: "2";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 12.5px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 25px;
}
#functioning_section li:nth-child(3) {
  background-color: #F6F6F6;
  height: 75px;
  width: 330px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 20px;
  box-shadow: 0px 2px 10px #D3D3D3;
  background-color: #F5EDFF;
}
#functioning_section li:nth-child(3) i {
  position: absolute;
  left: 70px;
  color: gray;
}
#functioning_section li:nth-child(3):before {
  content: "3";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 12.5px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 25px;
}
#functioning_section li:nth-child(3) i {
  color: #9356DC;
}

#menus_section {
  background-color: green;
}

footer {
  background-color: orange;
}

/*# sourceMappingURL=main.css.map */
