@import '_normalizer.scss';
@import '_theme.scss';

p, input {
  font-family: 'Roboto';
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'roboto';
  font-size: 20px;
}

header {
  height: 60px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
  img {
    width: auto;
  }
}

#exploration_section {
  text-align: center;
  div:first-child {
    background-color: #EAEAEA;
    height: 50px;
    line-height: 50px;
    i {
      padding: 10px;
    }
    input {
      border: none;
      background-color: #EAEAEA;
      width: 180px;
    }
  }
  div:nth-child(2) {
    background-color: #F6F6F6;
  }
}

#functioning_section {
  background-color: yellow;

}

#menus_section {
  background-color: green;

}

footer {
  background-color: orange;

}