@import '_normalizer.scss';
@import '_theme.scss';

header {
  img {
    width: 200px;
  }
}

@mixin card-from-menus-section ($isNew: false) {
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;

  @if $isNew {
    &::after{
      content: 'Nouveau';
      background-color: #99E2D0;
      color: green;
      border-radius: 2px;
      padding: 5px 15px;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  img {
    width: 100%;
    height: 280px;
    background-color: aqua;
    border-radius: 20px 20px 0 0;
  }

  figcaption {
    padding: 10px 15px;
    position: relative;
    color: black;
    h3 {
      font-size: 20px;
    }
    p {
      font-weight: 300;
    }
    i {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 30px;
    }
  }
}

#menus_section {
  display: grid;
  grid-template-rows: 1fr repeat(2, 350px);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 0 20px 70px 20px;

  grid-template-areas:
      'menus_section_title menus_section_title'
      'menus_section_card_2 menus_section_card_3'
      'menus_section_card_4 menus_section_card_5'
  ;

  h2 {
    padding: 50px 0 5px 0;
    grid-area: menus_section_title;
  }

  @for $i from 1 through 5 {
    a:nth-child(#{$i}) {
      grid-area: menus_section_card_#{$i} ;
      @if $i < 4 {
        @include card-from-menus-section(true);
      } @else {
        @include card-from-menus-section();
      }
    }
  }
}

footer {
  grid-gap: 10px;
  padding: 50px 0 30px 50px;
  img {
    width: 170px;
  }
  a {
    font-size: 20px;
  }
}