@import '_normalizer.scss';
@import '_theme.scss';

header {
  height: 60px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
  }
}

#exploration_section {


}

#functioning_section {
  background-color: yellow;

}

#menus_section {
  background-color: green;

}

footer {
  background-color: orange;

}