@import '_normalizer.scss';
@import '_theme.scss';

@mixin flex-center-content($justify-value: center, $align-value: center) {
  display: flex;
  justify-content: $justify-value;
  align-items: $align-value;
}

header {
  height: 60px;
  padding: 20px 0 10px 0;
  nav {
    width: 100%;
    a:first-child {
      display: block;
      color: $text-exploration-section-text-color;
      position: absolute;
      left: 20px;
      i {
        font-size: 20px;
      }
    }

    a:nth-child(2) {
      display: block;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;

    }

    h1 {
      width: 160px;
      font-family: 'Shrikhand';
      font-size: 30px;
      color: black;
      font-weight: 100;
    }
  }

  img {
    position: absolute;
    top: 60px;
    z-index: 6;
    background-color: cyan;
    height: 250px;
    object-fit: cover;
    &::before {
      @include flex-center-content();
      height: 200px;
      font-size: 15px;
    }
  }
}

section {
  z-index: 7;
  position: relative;
  background-color: #E8E8E8;
  margin-top: 200px;
  border-radius: 40px 40px 0 0;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: 'Shrikhand';
      font-weight: 100;
    }
    i {
      width: 50px;
      text-align: end;
      font-size: 22px;
    }
  }
}

@import "footer";