@import '_normalizer.scss';
@import '_theme.scss';

@mixin flex-center-content($justify-value: center, $align-value: center) {
  display: flex;
  justify-content: $justify-value;
  align-items: $align-value;
}

header {
  height: 60px;
  @include flex-center-content();
  padding: 20px 0 10px 0;

  a:first-child {
    display: block;
    color: $text-exploration-section-text-color;
    position: absolute;
    left: 20px;
    i {
      font-size: 20px;
    }
  }
  img {
    width: 160px;
  }
}

#menu_image {
  img {
    position: absolute;
    top: 60px;
    z-index: 6;
    background-color: cyan;
    height: 250px;

    &::before {
      @include flex-center-content();
      height: 200px;
      font-size: 15px;
    }
  }
}

#menu_section {
  z-index: 7;
  position: relative;
  background-color: red;
  margin-top: 200px;
  border-radius: 40px 40px 0 0;
}

@import "footer";