/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;200;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-size: 25px;
  line-height: 30px;
}
body p {
  font-size: 18px;
  line-height: 30px;
}

header h1 {
  width: 160px;
  font-family: "Shrikhand";
  font-size: 30px;
  color: black;
  font-weight: 100;
}

#spinner_section {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s cubic-bezier(1, 0, 0.69, 0.03) display_spinner_animation forwards;
}
#spinner_section i {
  color: #9356DC;
  font-size: 100px;
  opacity: 1;
  animation: 3s cubic-bezier(1, 0.01, 0.87, 0.3) spinner_animation forwards;
}
@keyframes spinner_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes display_spinner_animation {
  1% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#exploration_section {
  text-align: center;
  background-color: #F6F6F6;
}
#exploration_section label {
  display: block;
  background: linear-gradient(1turn, #EAEAEA 92%, silver);
  width: 100%;
  padding: 7px;
  color: #383838;
}
#exploration_section label i {
  padding: 10px;
}
#exploration_section label input {
  border: none;
  background-color: #EAEAEA;
  width: 150px;
}
#exploration_section h2 {
  padding: 40px 50px 0 50px;
}
#exploration_section p {
  line-height: 20px;
  margin: 15px 0 30px 0;
  font-weight: 300;
  color: #383838;
  padding: 0 10px;
}
#exploration_section .btn_theme {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 5px #D3D3D3;
  padding: 13px 20px;
  margin-bottom: 55px;
}
#exploration_section .btn_theme:hover {
  background: linear-gradient(#ff92e0, #a872e3);
  box-shadow: 0 5px 5px #acacac;
}

#functioning_section {
  padding: 50px 20px;
}
@media screen and (min-width: 1280px) {
  #functioning_section h2 {
    text-align: center;
  }
}
#functioning_section ul {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 80px);
  grid-gap: 20px;
  padding: 30px 0 30px 10px;
}
@media screen and (min-width: 1280px) {
  #functioning_section ul {
    grid-template: "card-info-theme_1 card-info-theme_2 card-info-theme_3";
    padding: 30px 10px;
  }
}
#functioning_section li:nth-child(1) {
  padding: 0 30px;
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  justify-content: unset;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px #D3D3D3;
}
@media screen and (min-width: 1280px) {
  #functioning_section li:nth-child(1) {
    padding: 40px;
    height: 75px;
  }
}
#functioning_section li:nth-child(1) i {
  width: 40px;
  color: gray;
  font-size: 20px;
}
#functioning_section li:nth-child(1):before {
  content: "1";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
@media screen and (min-width: 1280px) {
  #functioning_section li:nth-child(1) {
    grid-area: card-info-theme_1;
  }
}
#functioning_section li:nth-child(2) {
  padding: 0 30px;
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  justify-content: unset;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px #D3D3D3;
}
@media screen and (min-width: 1280px) {
  #functioning_section li:nth-child(2) {
    padding: 40px;
    height: 75px;
  }
}
#functioning_section li:nth-child(2) i {
  width: 40px;
  color: gray;
  font-size: 20px;
}
#functioning_section li:nth-child(2):before {
  content: "2";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
@media screen and (min-width: 1280px) {
  #functioning_section li:nth-child(2) {
    grid-area: card-info-theme_2;
  }
}
@media screen and (min-width: 1280px) {
  #functioning_section li:nth-child(2) {
    margin: 0 100px;
  }
}
#functioning_section li:nth-child(3) {
  padding: 0 30px;
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  justify-content: unset;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px #D3D3D3;
  background-color: #F5EDFF;
}
@media screen and (min-width: 1280px) {
  #functioning_section li:nth-child(3) {
    padding: 40px;
    height: 75px;
  }
}
#functioning_section li:nth-child(3) i {
  width: 40px;
  color: gray;
  font-size: 20px;
}
#functioning_section li:nth-child(3):before {
  content: "3";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
@media screen and (min-width: 1280px) {
  #functioning_section li:nth-child(3) {
    grid-area: card-info-theme_3;
  }
}
#functioning_section li:nth-child(3) i {
  color: #9356DC;
}
#menus_section {
  background-color: #F6F6F6;
  display: grid;
  grid-template-rows: auto repeat(4, 250px);
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-content: center;
  padding: 40px 20px;
}
@media screen and (min-width: 600px) {
  #menus_section {
    grid-template-rows: 1fr repeat(2, 350px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "menus_section_title menus_section_title" "menus_section_card_2 menus_section_card_3" "menus_section_card_4 menus_section_card_5";
  }
  #menus_section h2 {
    grid-area: menus_section_title;
  }
}
@media screen and (min-width: 1280px) {
  #menus_section {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "menus_section_title menus_section_title menus_section_title menus_section_title" "menus_section_card_2 menus_section_card_3 menus_section_card_4 menus_section_card_5";
  }
}
#menus_section a:nth-child(1) {
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
@media screen and (min-width: 600px) {
  #menus_section a:nth-child(1) {
    grid-area: menus_section_card_1;
  }
}
#menus_section a:nth-child(1)::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#menus_section a:nth-child(1) article {
  height: 100%;
}
#menus_section a:nth-child(1) article figure {
  height: 100%;
}
#menus_section a:nth-child(1) article figure img {
  height: calc(100% - 80px);
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(1) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(1) article figure figcaption {
  padding: 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(1) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(1) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(1) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(1) article figure figcaption .empty_heart {
  z-index: 1;
}
#menus_section a:nth-child(1) article figure figcaption .filled_heart {
  opacity: 0;
  z-index: 2;
  color: #9356DC;
  transition-property: opacity;
  transition-duration: 200ms;
}
#menus_section a:nth-child(1) article figure figcaption .filled_heart:hover {
  opacity: 1;
}
#menus_section a:nth-child(2) {
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
@media screen and (min-width: 600px) {
  #menus_section a:nth-child(2) {
    grid-area: menus_section_card_2;
  }
}
#menus_section a:nth-child(2)::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#menus_section a:nth-child(2) article {
  height: 100%;
}
#menus_section a:nth-child(2) article figure {
  height: 100%;
}
#menus_section a:nth-child(2) article figure img {
  height: calc(100% - 80px);
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(2) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(2) article figure figcaption {
  padding: 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(2) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(2) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(2) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(2) article figure figcaption .empty_heart {
  z-index: 1;
}
#menus_section a:nth-child(2) article figure figcaption .filled_heart {
  opacity: 0;
  z-index: 2;
  color: #9356DC;
  transition-property: opacity;
  transition-duration: 200ms;
}
#menus_section a:nth-child(2) article figure figcaption .filled_heart:hover {
  opacity: 1;
}
#menus_section a:nth-child(3) {
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
@media screen and (min-width: 600px) {
  #menus_section a:nth-child(3) {
    grid-area: menus_section_card_3;
  }
}
#menus_section a:nth-child(3)::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#menus_section a:nth-child(3) article {
  height: 100%;
}
#menus_section a:nth-child(3) article figure {
  height: 100%;
}
#menus_section a:nth-child(3) article figure img {
  height: calc(100% - 80px);
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(3) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(3) article figure figcaption {
  padding: 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(3) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(3) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(3) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(3) article figure figcaption .empty_heart {
  z-index: 1;
}
#menus_section a:nth-child(3) article figure figcaption .filled_heart {
  opacity: 0;
  z-index: 2;
  color: #9356DC;
  transition-property: opacity;
  transition-duration: 200ms;
}
#menus_section a:nth-child(3) article figure figcaption .filled_heart:hover {
  opacity: 1;
}
#menus_section a:nth-child(4) {
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
@media screen and (min-width: 600px) {
  #menus_section a:nth-child(4) {
    grid-area: menus_section_card_4;
  }
}
#menus_section a:nth-child(4) article {
  height: 100%;
}
#menus_section a:nth-child(4) article figure {
  height: 100%;
}
#menus_section a:nth-child(4) article figure img {
  height: calc(100% - 80px);
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(4) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(4) article figure figcaption {
  padding: 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(4) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(4) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(4) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(4) article figure figcaption .empty_heart {
  z-index: 1;
}
#menus_section a:nth-child(4) article figure figcaption .filled_heart {
  opacity: 0;
  z-index: 2;
  color: #9356DC;
  transition-property: opacity;
  transition-duration: 200ms;
}
#menus_section a:nth-child(4) article figure figcaption .filled_heart:hover {
  opacity: 1;
}
#menus_section a:nth-child(5) {
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
@media screen and (min-width: 600px) {
  #menus_section a:nth-child(5) {
    grid-area: menus_section_card_5;
  }
}
#menus_section a:nth-child(5) article {
  height: 100%;
}
#menus_section a:nth-child(5) article figure {
  height: 100%;
}
#menus_section a:nth-child(5) article figure img {
  height: calc(100% - 80px);
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(5) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(5) article figure figcaption {
  padding: 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(5) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(5) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(5) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(5) article figure figcaption .empty_heart {
  z-index: 1;
}
#menus_section a:nth-child(5) article figure figcaption .filled_heart {
  opacity: 0;
  z-index: 2;
  color: #9356DC;
  transition-property: opacity;
  transition-duration: 200ms;
}
#menus_section a:nth-child(5) article figure figcaption .filled_heart:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px 0 30px 20px;
  display: grid;
  grid-gap: 5px;
}
footer h2 {
  width: 160px;
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 100;
}
footer a {
  color: white;
}
footer a i {
  font-size: 15px;
  width: 25px;
}

@media screen and (min-width: 600px) {
  footer {
    display: grid;
    grid-template-areas: "footer_title footer_title" "footer_link_2 footer_link_3" "footer_link_4 footer_link_5";
    grid-gap: 20px;
  }
  footer a:nth-child(1) {
    grid-area: footer_title;
  }
  footer a:nth-child(1) h2 {
    font-size: 30px;
  }
  footer a:nth-child(2) {
    font-size: 20px;
    grid-area: footer_link_2;
  }
  footer a:nth-child(3) {
    font-size: 20px;
    grid-area: footer_link_3;
  }
  footer a:nth-child(4) {
    font-size: 20px;
    grid-area: footer_link_4;
  }
  footer a:nth-child(5) {
    font-size: 20px;
    grid-area: footer_link_5;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    grid-template-areas: "footer_title footer_title footer_title footer_title" "footer_link_2 footer_link_3 footer_link_4 footer_link_5";
  }
}

/*# sourceMappingURL=main_home.css.map */
