/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;200;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-size: 25px;
  line-height: 30px;
}
body p {
  font-size: 18px;
  line-height: 30px;
}

header h1 {
  width: 160px;
  font-family: "Shrikhand";
  font-size: 30px;
  color: black;
  font-weight: 100;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a:first-child {
  display: block;
  color: #383838;
  position: absolute;
  left: 20px;
}
header nav a:first-child i {
  font-size: 20px;
}
header nav a:nth-child(2) {
  padding: 20px 0;
}
header img {
  max-height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 1920px) {
  header img {
    max-height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  header img {
    max-height: 500px;
  }
}
header img::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 15px;
}

section {
  z-index: 7;
  position: relative;
  background-color: #F2F2F2;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  padding: 15px;
}
@media screen and (min-width: 600px) {
  section {
    padding: 15px 130px;
  }
}
@media screen and (min-width: 1280px) {
  section {
    padding: 15px;
  }
}
section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 10px 0;
}
section header h1 {
  font-family: "Shrikhand";
  font-weight: 100;
  font-size: 30px;
  width: 300px;
}
section header i {
  width: 50px;
  text-align: end;
  font-size: 22px;
}
section form {
  padding: 30px 0 55px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1920px) {
  section form {
    display: grid;
    grid-template-rows: auto 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas: "card-1 card-2 card-3" ". button-commander .";
  }
}
section form fieldset {
  animation-name: menu_animation;
  animation-iteration-count: 1;
  padding: 0 0 45px 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30px repeat(3, 75px);
  grid-gap: 20px;
  border: none;
}
@keyframes menu_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@media screen and (min-width: 1280px) {
  section form fieldset {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 75px;
    grid-template-areas: "fieldset-title fieldset-title fieldset-title";
  }
}
@media screen and (min-width: 1920px) {
  section form fieldset {
    grid-template-rows: 30px repeat(3, 75px);
    grid-template-columns: auto;
    grid-template-areas: "fieldset-title";
  }
}
section form fieldset h2 {
  font-weight: 500;
  font-size: 20px;
  position: relative;
}
@media screen and (min-width: 1280px) {
  section form fieldset h2 {
    grid-area: fieldset-title;
  }
}
section form fieldset h2:after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
  position: absolute;
  bottom: 0;
  left: 0;
}
section form fieldset input {
  display: none;
}
section form fieldset label {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px #D3D3D3;
}
section form fieldset label .radio_title {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
}
section form fieldset label .menu_section_fieldset_span_container {
  position: relative;
  display: block;
  padding: 10px;
}
section form fieldset label .menu_section_fieldset_span_container .radio_title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
section form fieldset label .menu_section_fieldset_span_container span:nth-child(2) {
  font-weight: 300;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}
section form fieldset label .menu_section_fieldset_span_container span:last-child {
  position: absolute;
  right: 25px;
  bottom: 10px;
  font-weight: 700;
}
section form fieldset label .check_effect {
  position: absolute;
  right: 0;
  top: 0;
  background-color: green;
  height: 100%;
  width: 40px;
  display: none;
}
section form .first_fieldset {
  animation-duration: 2s;
}
section form .second_fieldset {
  animation-duration: 4s;
}
section form .third_fieldset {
  animation-duration: 6s;
}
section form .btn_theme {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 5px #D3D3D3;
  padding: 13px 5px;
  width: 180px;
  align-self: center;
  cursor: pointer;
}
@media screen and (min-width: 1920px) {
  section form .btn_theme {
    grid-area: button-commander;
    justify-self: center;
  }
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px 0 30px 20px;
  display: grid;
  grid-gap: 5px;
}
footer h2 {
  width: 160px;
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 100;
}
footer a {
  color: white;
}
footer a i {
  font-size: 15px;
  width: 25px;
}

@media screen and (min-width: 600px) {
  footer {
    display: grid;
    padding: 20px;
    grid-template-areas: "footer_title footer_title footer_title footer_title" "footer_link_2 footer_link_3 footer_link_4 footer_link_5";
    grid-gap: 20px;
  }
  footer a:nth-child(1) {
    grid-area: footer_title;
  }
  footer a:nth-child(1) h2 {
    font-size: 30px;
  }
  footer a:nth-child(2) {
    font-size: 15px;
    grid-area: footer_link_2;
  }
}
@media screen and (min-width: 600px) and (min-width: 1280px) {
  footer a:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  footer a:nth-child(3) {
    font-size: 15px;
    grid-area: footer_link_3;
  }
}
@media screen and (min-width: 600px) and (min-width: 1280px) {
  footer a:nth-child(3) {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  footer a:nth-child(4) {
    font-size: 15px;
    grid-area: footer_link_4;
  }
}
@media screen and (min-width: 600px) and (min-width: 1280px) {
  footer a:nth-child(4) {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  footer a:nth-child(5) {
    font-size: 15px;
    grid-area: footer_link_5;
  }
}
@media screen and (min-width: 600px) and (min-width: 1280px) {
  footer a:nth-child(5) {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}

/*# sourceMappingURL=main_restaurant.css.map */
