/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@100;200;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

body {
  font-family: "Roboto";
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
body p {
  font-size: 18px;
  line-height: 30px;
}

header {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  width: 160px;
  font-family: "Shrikhand";
  font-size: 30px;
  color: black;
  font-weight: 100;
}

#exploration_section {
  text-align: center;
  background-color: #F6F6F6;
}
#exploration_section label {
  display: block;
  background: linear-gradient(1turn, #EAEAEA 92%, silver);
  width: 100%;
  padding: 7px;
  color: #383838;
}
#exploration_section label i {
  padding: 10px;
}
#exploration_section label input {
  border: none;
  background-color: #EAEAEA;
  width: 150px;
}
#exploration_section h2 {
  padding: 40px 50px 0 50px;
}
#exploration_section p {
  line-height: 20px;
  margin: 15px 0 30px 0;
  font-weight: 300;
  color: #383838;
}
#exploration_section .btn_theme {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 5px #D3D3D3;
  padding: 13px 20px;
  margin-bottom: 55px;
}

#functioning_section {
  padding: 50px 20px;
}
#functioning_section ul {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 80px);
  grid-gap: 20px;
  padding: 30px 10px;
}
#functioning_section li:nth-child(1) {
  padding: 40px;
  position: relative;
  background-color: #F6F6F6;
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px #D3D3D3;
}
#functioning_section li:nth-child(1) i {
  width: 40px;
  color: gray;
  font-size: 20px;
}
#functioning_section li:nth-child(1):before {
  content: "1";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 12.5px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
#functioning_section li:nth-child(2) {
  padding: 40px;
  position: relative;
  background-color: #F6F6F6;
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px #D3D3D3;
}
#functioning_section li:nth-child(2) i {
  width: 40px;
  color: gray;
  font-size: 20px;
}
#functioning_section li:nth-child(2):before {
  content: "2";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 12.5px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
#functioning_section li:nth-child(3) {
  padding: 40px;
  position: relative;
  background-color: #F6F6F6;
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px #D3D3D3;
  background-color: #F5EDFF;
}
#functioning_section li:nth-child(3) i {
  width: 40px;
  color: gray;
  font-size: 20px;
}
#functioning_section li:nth-child(3):before {
  content: "3";
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 12.5px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}
#functioning_section li:nth-child(3) i {
  color: #9356DC;
}

#menus_section {
  background-color: #F6F6F6;
  display: grid;
  grid-template-rows: 1fr repeat(4, 250px);
  grid-template-columns: 100%;
  grid-gap: 20px;
  justify-content: center;
  padding: 40px 20px;
}
#menus_section a:nth-child(1) {
  height: 100%;
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
#menus_section a:nth-child(1)::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#menus_section a:nth-child(1) article {
  height: 100%;
}
#menus_section a:nth-child(1) article figure {
  height: 100%;
}
#menus_section a:nth-child(1) article figure img {
  width: 100%;
  height: calc(100% - 80px);
  background-color: aqua;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(1) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(1) article figure figcaption {
  padding: 10px 0 0 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(1) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(1) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(1) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(2) {
  height: 100%;
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
#menus_section a:nth-child(2)::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#menus_section a:nth-child(2) article {
  height: 100%;
}
#menus_section a:nth-child(2) article figure {
  height: 100%;
}
#menus_section a:nth-child(2) article figure img {
  width: 100%;
  height: calc(100% - 80px);
  background-color: aqua;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(2) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(2) article figure figcaption {
  padding: 10px 0 0 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(2) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(2) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(2) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(3) {
  height: 100%;
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
#menus_section a:nth-child(3)::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: green;
  border-radius: 2px;
  padding: 5px 15px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#menus_section a:nth-child(3) article {
  height: 100%;
}
#menus_section a:nth-child(3) article figure {
  height: 100%;
}
#menus_section a:nth-child(3) article figure img {
  width: 100%;
  height: calc(100% - 80px);
  background-color: aqua;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(3) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(3) article figure figcaption {
  padding: 10px 0 0 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(3) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(3) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(3) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(4) {
  height: 100%;
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
#menus_section a:nth-child(4) article {
  height: 100%;
}
#menus_section a:nth-child(4) article figure {
  height: 100%;
}
#menus_section a:nth-child(4) article figure img {
  width: 100%;
  height: calc(100% - 80px);
  background-color: aqua;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(4) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(4) article figure figcaption {
  padding: 10px 0 0 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(4) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(4) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(4) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}
#menus_section a:nth-child(5) {
  height: 100%;
  position: relative;
  display: block;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 5px 5px #ededed;
}
#menus_section a:nth-child(5) article {
  height: 100%;
}
#menus_section a:nth-child(5) article figure {
  height: 100%;
}
#menus_section a:nth-child(5) article figure img {
  width: 100%;
  height: calc(100% - 80px);
  background-color: aqua;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
#menus_section a:nth-child(5) article figure img::before {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 15px;
}
#menus_section a:nth-child(5) article figure figcaption {
  padding: 10px 0 0 10px;
  height: 80px;
  position: relative;
  color: black;
}
#menus_section a:nth-child(5) article figure figcaption h3 {
  font-size: 20px;
}
#menus_section a:nth-child(5) article figure figcaption p {
  font-weight: 300;
}
#menus_section a:nth-child(5) article figure figcaption i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 23px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px 0 30px 20px;
  display: grid;
  grid-gap: 5px;
}
footer h2 {
  width: 160px;
  font-family: "Shrikhand";
  font-size: 20px;
  font-weight: 100;
}
footer a {
  color: white;
}
footer a i {
  font-size: 15px;
  width: 25px;
}

/*# sourceMappingURL=main.css.map */
