@media screen and (min-width: 1280px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
  }
}

header {
  height: 60px;
  @include flex-center-content();
}

#exploration_section {
  text-align: center;
  background-color: #F6F6F6;

  label {
    display: block;
    background: linear-gradient(1turn, #EAEAEA 92%, silver);
    width: 100%;
    padding: 7px;
    color: $text-exploration-section-text-color;

    i {
      padding: 10px;
    }

    input {
      border: none;
      background-color: #EAEAEA;
      width: 150px;
    }
  }

  h2 {
    padding: 40px 50px 0 50px;
  }

  p {
    line-height: 20px;
    margin: 15px 0 30px 0;
    font-weight: 300;
    color: $text-exploration-section-text-color;
  }

  .btn_theme {
    @include btn-purple-style();
    padding: 13px 20px;
    margin-bottom: 55px;
  }
}

#functioning_section {
  padding: 50px 20px;

  @media screen and (min-width: 1280px) {
    h2 {
      text-align: center;
    }
  }

  ul {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 80px);
    grid-gap: 20px;
    padding: 30px 0 30px 10px;

    @media screen and (min-width: 1280px) {
      grid-template: 'card-info-theme_1 card-info-theme_2 card-info-theme_3';
      padding: 30px 10px;
    }
  }

  @for $i from 1 through 3 {
    li:nth-child(#{$i}) {
      @include card-info-theme('#{$i}');

      @media screen and (min-width: 1280px) {
        grid-area: card-info-theme_#{$i};
      }

      @if $i == 3 {
        background-color: #F5EDFF;
        i {
          @media screen and (min-width: 1280px) {
            color: $primary-color;
          }
        }
      }

      @if $i == 2 {
        margin: 0 100px;
      }
    }
  }
}

#menus_section {
  background-color: #F6F6F6;
  display: grid;
  grid-template-rows: auto repeat(4, 250px);
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-content: center;
  padding: 40px 20px;

  @media screen and (min-width: 600px) {
    grid-template-rows: 1fr repeat(2, 350px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'menus_section_title menus_section_title'
      'menus_section_card_2 menus_section_card_3'
      'menus_section_card_4 menus_section_card_5'
  ;

    h2 {
      grid-area: menus_section_title;
    }
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      'menus_section_title menus_section_title menus_section_title menus_section_title'
      'menus_section_card_2 menus_section_card_3 menus_section_card_4 menus_section_card_5'
  ;
  }

  @for $i from 1 through 5 {
    a:nth-child(#{$i}) {
      @media screen and (min-width: 600px) {
        grid-area: menus_section_card_#{$i};
      }
      @if $i < 4 {
        @include card-from-menus-section(true);
      } @else {
        @include card-from-menus-section();
      }
    }
  }
}

@media screen and (min-width: 600px) {
  footer {
    display: grid;
    grid-template-areas:
      'footer_title footer_title'
      'footer_link_2 footer_link_3'
      'footer_link_4 footer_link_5'
  ;
    grid-gap: 20px;
    @for $i from 1 through 5 {
      a:nth-child(#{$i}) {
        @if $i == 1 {
          grid-area: footer_title;
          h2 {
            font-size: 30px;
          }
        } @else {
          font-size: 20px;
          grid-area: footer_link_#{$i};
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  footer {
    display: grid;
    grid-template-areas:
      'footer_title footer_title footer_title footer_title'
      'footer_link_2 footer_link_3 footer_link_4 footer_link_5'
  ;
    grid-gap: 20px;
    @for $i from 1 through 5 {
      a:nth-child(#{$i}) {
        @if $i == 1 {
          grid-area: footer_title;
          h2 {
            font-size: 30px;
          }
        } @else {
          font-size: 20px;
          grid-area: footer_link_#{$i};
        }
      }
    }
  }
}