@import '../../base/normalizer';
@import '../../base/base';
@import '../../utils/common/common_mixins';
@import '../../utils/home/home_mixins';

h1, h2, h3, h4, h5, h6 {
  font-size: 35px;
  font-weight: 700;
  line-height: 30px;
}

header {
  img {
    width: 200px;
  }
}

#functioning_section {
  padding: 50px 20px;
  h2 {
    text-align: center;
  }
  ul {
    display: grid;
    justify-content: center;
    grid-template:
    'card-info-theme_1 card-info-theme_2 card-info-theme_3';
    grid-gap: 20px;
    padding: 30px 10px;
  }
  @for $i from 1 through 3 {
    li:nth-child(#{$i}) {
      grid-area: card-info-theme_#{$i};
      @include card-info-theme('#{$i}');
      @if $i == 3 {
        background-color: #F5EDFF;
        i {
          color: $primary-color;
        }
      }
      @if $i == 2 {
        margin: 0 100px;
      }
    }
  }
}

#menus_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
      'menus_section_title menus_section_title menus_section_title menus_section_title'
      'menus_section_card_2 menus_section_card_3 menus_section_card_4 menus_section_card_5'
  ;

  h2 {
    grid-area: menus_section_title;
  }

  @for $i from 1 through 5 {
    a:nth-child(#{$i}) {
      grid-area: menus_section_card_#{$i} ;
      @if $i < 4 {
        @include card-from-menus-section(true);
      } @else {
        @include card-from-menus-section();
      }
    }
  }
}

footer {
  display: grid;
  grid-template-areas:
      'footer_title footer_title footer_title footer_title'
      'footer_link_2 footer_link_3 footer_link_4 footer_link_5'
;
  grid-gap: 20px;
  @for $i from 1 through 5 {
    a:nth-child(#{$i}) {
      @if $i == 1 {
        grid-area: footer_title;
        h2 {
          font-size: 30px;
        }
      } @else {
        font-size: 20px;
        grid-area: footer_link_#{$i};
      }
    }
  }
}