header {
  nav {
    @include flex-center-content();

    a:first-child {
      display: block;
      color: $text-exploration-section-text-color;
      position: absolute;
      left: 20px;
      i {
        font-size: 20px;
      }
    }

    a:nth-child(2){
      padding: 20px 0;
    }
  }

  img {
    max-height: 250px;
    @media screen and (min-width: 1920px) {
      max-height: 400px;
    }
    @media screen and (min-width: 1280px) {
      max-height: 500px;
    }
    object-fit: cover;
    &::before {
      @include flex-center-content();
      height: 200px;
      font-size: 15px;
    }
  }
}

section {
  z-index: 7;
  position: relative;
  background-color: #F2F2F2;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  padding: 15px;
  @media screen and (min-width: 600px) {
    padding: 15px 130px;
  }
  @media screen and (min-width: 1280px) {
    padding: 15px;
  }

  header {
    @include flex-center-content(space-between);
    padding: 30px 30px 10px 0;
    h1 {
      font-family: 'Shrikhand';
      font-weight: 100;
      font-size: 30px;
      width: 300px;
    }
    i {
      width: 50px;
      text-align: end;
      font-size: 22px;
    }
  }
  form {
    padding: 30px 0 55px 0;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1920px) {
      display: grid;
      grid-template-rows: auto 100px;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      grid-template-areas:
        "card-1 card-2 card-3"
        ". button-commander ."
      ;
    }

    @media screen and (max-width: 1919px) {
      @for $i from 1 through 3 {
        @if $i == 1 {
          @include fieldset-grid(null,4);
        }@else {
          @include fieldset-grid();
        }
      }
    }

    @media screen and (min-width: 1920px) {
      .first_fieldset {
        @include fieldset-grid(4);
      }

      .second_fieldset {
        @include fieldset-grid(3);
      }

      .third_fieldset {
        @include fieldset-grid(3);
      }
    }

    .btn_theme {
      @include btn-purple-style;
      padding: 13px 5px;
      width: 180px;
      align-self: center;
      cursor: pointer;
      @media screen and (min-width: 1920px) {
        grid-area: button-commander;
        justify-self: center;
      }
    }
  }
}