@import '../../themes/theme';
@import './common_variables';

@mixin btn-purple-style {
  background: linear-gradient($secondary-color, $primary-color);
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 5px $shadow-color;

  &:hover {
    background: linear-gradient($secondary-color-clearer, $primary-color-clearer);
    box-shadow: 0 5px 5px $shadow-color-darker;
  }
}

@mixin flex-center-content($justify-value: center, $align-value: center) {
  display: flex;
  justify-content: $justify-value;
  align-items: $align-value;
}

@mixin cut-text-with-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}